<?xml version="1.0"?>
<launch>
  <arg name="paused" default="true"/>
  <arg name="gui" default="true"/>

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find tams_ur5_gazebo)/worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- send robot urdf to param server -->
  <include file="$(find tams_ur5_setup_description)/launch/tams_ur5_setup_upload.launch" />


  <!-- Start the publisher for the gripper (the only hand) -->
  <!--
  <node pkg="robot_state_publisher" type="state_publisher" name="robotiq_gripper_robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="joint_states" to="/hand/joint_states" />
  </node>

  <node pkg="topic_tools" type="relay" name="relay_joint_states" args="/s_model_hand/joint_states /joint_states" />
-->

  <!-- spawn robot in gazebo with start position-->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -J ur5_shoulder_lift_joint 0.0 -J ur5_shoulder_pan_joint 1.57 -J ur5_elbow_joint -1.0 -J ur5_wrist_1_joint 0.0 -J ur5_wrist_2_joint 1.57 -J ur5_wrist_3_joint 0.0" respawn="false" output="screen" />


  <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>

  <!-- spawn ur5 controller (we need a custom yaml as we are using a namespace) -->
  <rosparam file="$(find tams_ur5_gazebo)/controller/arm_controller_ur5.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>

  <!-- Remap follow_joint_trajectory -->
  <remap from="/follow_joint_trajectory" to="/arm_controller/follow_joint_trajectory"/>

  <!-- Gripper action server-->
  <!--<include file="$(find robotiq_s_model_action_server)/launch/robotiq_s_model_action_server.launch" />
  -->

  <include file="$(find tams_ur5_setup_moveit_config)/launch/move_group.launch"/>
</launch>
